body, h1, h2, p {
    margin: 0;
    padding: 0;
    /* border-color: #fff; */
    border-top-color: rgb(6, 6, 6);
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #faf8f8;
    color: #050505;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #030303;
    border-top: 3px solid transparent;
    transition: border-top 0.3s ease-in-out;
}

nav ul li a:hover {
    border-top: 3px solid #fff;
}

/* Style the main content */
main {
    margin-top: 80px; 
}


.container {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: calc(100vh - 80px); /* Adjust height for fixed header */
    /* text-align: left; */
}

.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    scroll-snap-align: start;
    background-color: #fff;
    transition: background-color 0.5s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}

/* Add background colors for different sections */
#home {
    background-color: black;
    color: #fff;
}


#interview {
    background-color: #f7f5f5;
    min-height: 50vh;
    min-width: -webkit-fill-available;
}

.input-container {
    display: flex;
    gap: 10px;
}

#message-input {
    flex: 1;
    padding: 5px;
    font-size: 16px;
}

#send-button {
    background-color: #181717;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}